.header {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.breadcrum {
    position: absolute;
    top: 9.3%;
    left: 0;
    right: 0;
    z-index: 1;
}

.outerContainer {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.left {
    padding: 100px;
    background-color: #535bf2;
    width: 50%;
}

.right {
    padding: 100px;
    background-color: darkorange;
    width: 50%;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center; /* Dodane, aby wyśrodkować elementy w poziomie */
}

.button {
    padding: 10px;
    font-size: 20px;

    border: 1px solid #000;
    cursor: pointer;
    margin: 0 10px;
}


.recommend {
    padding: 1%;
    width: 100%;
    background-color: #213547;
    clear: both;
}

.footer {
    padding: 1%;
    width: 100%;
    background-color: aqua;
    clear: both;
}
.interval{
    margin: 30px;
}
