.container {
    padding: 20px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
        align-items: center;
    }
}

.content {
    max-width: rem(500px);
    margin-right: calc(var(--mantine-spacing-md) * 2);

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
        text-align: center;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}

.buttons {
    display: flex;
    margin-top: 30px;

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
        width: 100%;
    }
}

.control {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        flex: 1;
        width: 100%;
        margin-right: 0;
        margin-bottom: rem(16px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.image {
    width: auto;
    max-height: 300px;

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-red-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}
