.navbar {
    width: 10vh; /* Zwiększenie szerokości panelu */
    height: 100vh;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: var(--mantine-primary-color-filled);
    position: fixed;
    top: 0;
    left: 0;
}

.navbarMain {
    flex: 1;
    margin-top: rem(50px);
}

.link {
    width: 6vh; /* Zwiększenie szerokości ikonki */
    height: 6vh; /* Zwiększenie wysokości ikonki */
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mantine-color-white);
    font-size: rem(24px); /* Zwiększenie rozmiaru czcionki ikonki */

    &:hover {
        background-color: var(--mantine-primary-color-7);
    }

    &[data-active] {
        &,
        &:hover {
            box-shadow: var(--mantine-shadow-sm);
            background-color: var(--mantine-color-white);
            color: var(--mantine-primary-color-6);
        }
    }
}